.logo{
    display: flex;
    height: 83px;
    justify-content: center;
    align-items: center;
    span {
        width: 177px;
        height: 47px;
        display: block;
        background-color: #1a2d3f;
    }
}